section {
    height: 100vh;
    width: 80vw;
    margin-inline: auto;
    gap: 130px;
    scroll-snap-align: start;
}

footer {
    scroll-snap-align: end;
}

body,
html {
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;

}

.skills-section,
.certifcates-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*----------SKILLS SECTION--------*/
/*----------SKILLS SECTION--------*/

.skill-heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.xl-skill-heading {
    font-family: Mont-H;
    font-size: 120px;
    text-align: center;
    text-transform: uppercase;
}

.l-skill-heading {
    font-family: Mont-H;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
}

.skills-list-wrapper {
    display: flex;
    flex-direction: column;
}

.skills-list {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.skill-item {
    font-size: 25px;
    padding: 20px;
}

.skill-text {
    font-family: Mont-EL;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 50px;
}

/*----------EDUCATION SECTION--------*/
/*----------EDUCATION SECTION--------*/
#education-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
}

#edu-heading {
    font-size: 120px;
}

#edu-details-rows {
    display: flex;
    flex-direction: column;
}

.edu-details-container {
    border: 1px dashed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edu-wrapper {
    width: 80%;
    padding: 30px;
}

.country,
.course {
    text-align: right;
}

.school-name,
.course {
    font-size: 25px;
}

/*----------CERTIFICATES SECTION--------*/
/*----------CERTIFICATES SECTION--------*/

#certifcates-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
}

#cert-heading {
    text-align: right;
    font-size: 120px;
}

/*----------CERTIFICATE CAROUSEL--------*/
/*----------CERTIFICATE CAROUSEL--------*/

#cert-flow {
    width: 100%;
    height: 50vh;
    margin-inline: auto;
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
}

#cert-flow:hover .cert-item {
    animation-play-state: paused;
}

#cert-flow:hover>.cert-item {
    opacity: 0.4;
    transition: opacity 0.4s ease;
}

#cert-flow>.cert-item:hover {
    opacity: 1;
}

.cert-item {
    transition: 0.3s ease;
    width: 850px;
    height: inherit;
    object-fit: contain;
    position: absolute;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    left: max(calc(850px * 2), 100%);
    animation-name: scrollLeft;
}

@keyframes scrollLeft {
    to {
        left: -850px;
    }
}

.item1 {
    animation-delay: calc(10s / 4 * (4 - 1) * -1);
}

.item2 {
    animation-delay: calc(10s / 4 * (4 - 2) * -1);
}

.item3 {
    animation-delay: calc(10s / 4 * (4 - 3) * -1);
}

.item4 {
    animation-delay: calc(10s / 4 * (4 - 4) * -1);
}

/*--------FOOTER-------*/
/*--------FOOTER-------*/

#skill-footer {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

#credits {
    display: grid;
    grid-template-rows: 1fr 1fr;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -3px;
}

.footer-heading {
    font-size: 50px;
}

/*--------BIG NAV-------*/
/*--------BIG NAV-------*/

#b-footer-nav {
    display: grid;
    place-items: center;
}

#footer-text {
    margin-inline: 30px;
    font-family: Mont-EL;
    text-wrap: balance;
    font-size: 40px;
}

#big-footer-link {
    font-size: 120px;
    transition: 0.5s ease;
    color: transparent;
    -webkit-text-stroke: 1px var(--white-clr);
    display: flex;
    flex-direction: column;
}

#big-footer-link span+span {
    margin-top: -10px;
}

#big-footer-link:hover {
    color: var(--accent-clr);
}

/*--------SMALL NAV-------*/
/*--------SMALL NAV-------*/

#s-footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 60px;
}

.s-footer-heading {
    font-size: 30px;
    margin-bottom: 25px;
    position: relative;
}

.s-footer-heading::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 42px;
    background-color: var(--accent-clr);
}

.s-footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.s-footer-nav div a {
    font-family: Mont-EL;
    font-weight: 500;
}