#wrks-transition {
    animation: wrks-animate 1s ease forwards;
}

@keyframes wrks-animate {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

section {
    height: 100vh;
    width: 80vw;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*----------WORK HERO--------*/
/*----------WORK HERO--------*/

#works-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-wrap: balance;

}

#colored-heading {
    -webkit-text-stroke: 0;
    color: var(--accent-clr);
}

.works-heading {
    font-family: Mont-H;
    font-size: 120px;
    line-height: 0.9;
    -webkit-text-stroke: 1px var(--white-clr);
    color: transparent;
    transform: scaleY(1.9);
    text-transform: uppercase;
}

#works-heading-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: balance;
}

#shapes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.works-hero-text {
    font-size: 20px;
    letter-spacing: 1.5px;
    font-weight: 900;
    color: var(--white-clr);
    top: 178px;
    left: 13px;
    display: flex;
    position: absolute;
    text-transform: uppercase;
}

#scroll-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -60px;
    gap: 10px;
}

#scroll-text {
    font-family: Mont-EL;
    letter-spacing: 5px;
    font-weight: 900;
}

.scroll-arrow {
    width: 20px;
    height: 20px;
    animation: arrowAnimation 1.5s infinite;
}

@keyframes arrowAnimation {
    0% {
        transform: translateY(3px);
    }

    25% {
        transform: translateY(-3px);
    }

    50% {
        transform: translateY(3px);
    }

    75% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(3px);
    }
}

/*---------SUBWORK SECTIONS--------*/
/*----------SUBWORK SECTIONS--------*/

.tags {
    display: block;
    font-family: Mont-EL;
    font-size: 20px;
}

.work-details {
    display: flex;
    writing-mode: vertical-lr;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.work-category {
    text-orientation: upright;
    color: transparent;
    -webkit-text-stroke: 0.8px var(--white-clr);
    font-size: 20px;
}

.right-container {
    position: relative;
}

#right-details {
    flex-direction: column;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 40px;
}

.right-items {
    text-align: right;
}

#left-items {
    text-align: left;
}

.items>a {
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.items>a:hover {
    letter-spacing: 5px;
}

.work-links {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: -90px;
    position: absolute;
    text-align: right;
    font-family: Mont-EL;
    gap: 20px;
}

.links-text {
    font-family: Mont-EL;
}

.work-links>a,
#soundcloud-container>a {
    transition: transform 0.3s ease;
}

.social-link:hover {
    transform: scale(1.2);
}

/*----------IMAGES DIV--------*/
/*----------IMAGES DIV--------*/

.image-container {
    width: 35vw;
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#webdev-container {
    background-image: url(./images/1.webp);
}

#userx-container {
    background-image: url(./images/2.webp);
}

#creativec-container {
    background-image: url(./images/3.webp);
}

#wd-image,
#ux-image,
#cc-image {
    width: 450px;
    object-fit: cover;
}

@keyframes revealImg {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hideImg {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*----------MUSIC SECTION--------*/
/*----------MUSIC SECTION--------*/


#music-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
}

#big-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 160px;
    text-align: center;
    overflow: hidden;
}

.big-lines {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 18%;
    margin-bottom: 13px;
    height: 100px;
}

#small-heading {
    display: flex;
    flex-direction: column;
    font-size: 100px;
    overflow: hidden;
}

#music-content {
    display: flex;
    gap: 50px;
}

#music-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-btn {
    width: 300px;
    height: 300px;
    background: conic-gradient(var(--white-clr), var(--navyblue-clr), var(--accent-clr), var(--navyblue-clr));
    border-radius: 50%;
    animation: SpinDisc 3s linear infinite;
    border: none;
    position: relative;
}

#music-btn2 {
    animation: SpinDisc2 3s linear infinite;
}

@keyframes SpinDisc {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes SpinDisc2 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#soundcloud-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;
}

#soundcloud-text {
    text-orientation: upright;
    writing-mode: vertical-lr;
    text-wrap: wrap;
    letter-spacing: -2px;
    font-size: 30px;
}

#box {
    height: 30%;
    background-color: var(--white-clr);
}


/*--------FOOTER-------*/
/*--------FOOTER-------*/

#skill-footer {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

#credits {
    display: grid;
    grid-template-rows: 1fr 1fr;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -3px;
}

.footer-heading {
    font-size: 50px;
}

/*--------BIG NAV-------*/
/*--------BIG NAV-------*/

#footer-text {
    font-family: Mont-EL;
    text-wrap: nowrap;
    font-size: 40px;
}

#big-footer-link {
    font-size: 130px;
    transition: 0.5s ease;
    color: transparent;
    -webkit-text-stroke: 1px var(--white-clr);
    line-height: 120px;
    display: flex;
    flex-direction: column;

}

#big-footer-link>span {
    position: relative;
}

#big-footer-link>span::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 10px;
    bottom: 5px;
    background-color: var(--white-clr);
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}

#big-footer-link:hover>span::after {
    width: 100%;
}

#big-footer-link:hover {
    color: var(--accent-clr);
}

/*--------SMALL NAV-------*/
/*--------SMALL NAV-------*/

#s-footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.s-footer-heading {
    font-size: 30px;
    margin-bottom: 25px;
    position: relative;
}

.s-footer-heading::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 42px;
    background-color: var(--accent-clr);
}

.s-footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.s-footer-nav a {
    font-family: Mont-EL;
    font-weight: 500;
    position: relative;
}

.s-footer-nav>a::after {
    position: absolute;
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    right: 0;
    top: 5px;
    border-radius: 50%;
    background-color: var(--white-clr);
    transition: 0.3s ease;
}

.s-footer-nav>a:hover::after {
    transform: scale(2.5);
    background-color: var(--accent-clr);
}